<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create post</title>
    <script src="/static/js/createPost.js" defer></script>
</head>
<body>
    <p>sosal???</p>
    <form action="" method="POST" id="form">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="author" name="author">
        <input type="text" placeholder="description" name="description">
        <!-- <input type="text" placeholder="date" name="date"> -->
        <button id="btn" type="submit">create</button>
    </form>
</body>
</html>