<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts</title>
    <link rel="stylesheet" href="/static/posts.css">
    <script src="/static/posts.js" defer></script>
</head>
<body>
    <h1>Posts</h1>
    <% posts.forEach( (post) =>{ %>
        <div class="post">
            <h2><%= post.name %></h2>
            <p><%= post.author %></p>
            <a href="/post/<%= post.id  %>">Перейти на пост</a>
        </div>
    <% }) %>
    <button id="btn">create</button>
    <h2><%= posts.name %></h2>
</body>
</html>